.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
.navbar{
  background-color: black;
  border-radius: 0;
  width: 100%;
}
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  .a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  .pointer {
    cursor: pointer;
    }
    .btn{
      border: 2px solid white;
    color: white;
    margin-right: 10px;
    }

    .btn:hover{
      background-color: white;
      color: black
  }
  @media  (min-width: 360px) and (max-width: 640px){
.btn1{
  margin-right: 130px;
}
  }

  .fas{
    color: white;
  }
  .fas:hover{
    background-color: white;
    color: black;
  }
  .badge{
    background-color:red;
  }
  .fixed-nav-bar {
    position: fixed;
    top: 0;
    z-index: 9999;
     width: 100%;
  }


