<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item pointer">
            <a class="nav-link" (click)="post()">Add Product <span class="sr-only">(current)</span></a>

        </li>


        <li class="nav-item pointer">
            <a class="nav-link" (click)="get()">Approve Product<span class="sr-only">(current)</span></a>

        </li>
        <li class="nav-item pointer">
            <a class="nav-link" (click)="getAll()">Get Product<span class="sr-only">(current)</span></a>

        </li>
        <ul *ngIf="!l" class="navbar-nav ">
            <!-- <li>
                  <a href="#" routerLink="/signup"><span class="glyphicon glyphicon-user" style="color:white;"></span> Sign Up</a>
                <button routerLink="/signup" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>

            </li> -->
            <li>
                <!-- <a href="#" routerLink="/login"><span class="glyphicon glyphicon-log-in" style="color:white;"></span> Sign In</a> -->
                <!-- <button routerLink="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In/Sign Up</button> -->
                <button type="button" routerLink="/login" >SignIn</button>

            </li>
        </ul>
        
</ul>
    </div>
  </nav>